/* ===== RESET CSS básico ===== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  margin: 20px auto;
  background-color: antiquewhite;
}

header h1{ 
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: 80px;
}

header h2{
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: 30px;
}

header nav{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  background-color:rgb(232, 94, 25);
  justify-content: center;
}

.site-header li {
  display: flex;
  list-style: none;
  justify-content: center;
}

.site-header li a{
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border: 2px solid;
  font-size: 25px;
}

header nav a:hover{
  background-color: rgb(255, 146, 92);;
  color:black
}